In [1]:
print("Karthikeyan Hello World");

Karthikeyan Hello World

In [4]:
# float
y = 1.0
type(y)

float

In [6]:
# integers
x = 1
type(x)

int

In [7]:
# boolean
b1 = True
b2 = False
type(b1)

bool

In [8]:
# string
name = 'your name'
type(name)

str

In [10]:
ten = 10
ten

10

In [14]:
'Days ' + str(1)

'Days 1'

In [12]:
'Day ' + str(1)

'Day 1'

In [16]:
True and False

False

In [17]:
True is True

True

In [18]:
'a' is 'a'

True

In [21]:
i=3
if i < 3:
    print('Less than 3')
elif i < 5:
    print('less than 5')
else:
    print('5 or more')

less than 5

In [22]:
list('abcdef')

['a', 'b', 'c', 'd', 'e', 'f']

In [27]:
l = []
l

[]

In [31]:
l = []
l.append('b')
l.insert(0, 'c')
l.insert(1, 'a')
l

['c', 'a', 'b']

In [32]:
for letter in l: print(letter)

c
a
b

In [34]:
# Program to find the sum of all numbers stored in a list
# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
# variable to store the sum
sum = 0
# iterate over the list
for val in numbers:
    sum = sum+val
# Output: The sum is 48
print("The sum is", sum)

The sum is 48

In [35]:
digits = [0, 1, 5]
for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [40]:
print('While Loop')

While Loop

In [42]:
# Program to add natural
# numbers upto
# sum = 1+2+3+...+m
# To take input from the user,
# m = int(input("Enter m: "))
m = 10
# initialize sum and counter sum = 0
i=1
while i <= m:
    sum = sum + i
    i = i+1    # update counter
# print the sum
print("The sum is", sum)

The sum is 272

In [43]:
print(range(10))

range(0, 10)

In [44]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
print(list(range(2, 8)))

[2, 3, 4, 5, 6, 7]

In [46]:
print(list(range(2, 24, 4)))

[2, 6, 10, 14, 18, 22]

In [47]:
# Program to iterate through a list using indexing
genre = ['pop', 'rock', 'jazz']
# iterate over the list using index
for i in range(len(genre)):
    print("I like", genre[i])

I like pop
I like rock
I like jazz

In [50]:
# Break statement inside the loop

for val in 'Karthikeyan':
    if val == 'e':
        break
    print(val)
print('Done')

K
a
r
t
h
i
k
Done

In [ ]:
# Continue Statement inside the loop

for val in 'Karthickeyan':
    if val == 'c':
        continue
    print(val)
    
print('Done')

In [ ]:
#Dynamic String Input

name = input("What is your name?")
type(name)